header {
    background-color: white;
    padding: 20px;
    padding-left: 80px;
    border-bottom: 1px solid #3780ff;
    margin: 0px;
    
    
}

.logo {
    width: 100px;
}

.hoofd {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid black;
    padding-left: 80px;
    padding-bottom: 50px;
}

.voorbeeld {
    width: 600px;
    border: 1px solid black;

}

.beschrijving {
    align-items: flex-end;
    padding-left: 80px;
    padding-top: 50px;
}

a {text-decoration: none;
    color:  #3780ff;
    padding-inline: 30px;
}

.knop{border: 1px solid black;
border-radius: 50px;
}

.hoofd2 {
    margin-top: 20px;
    display: flex;

    padding-left: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.sub2 {
    background-color: #3780ff;
    border: 1px transparent black;
    width: 2000px;


}

.beschrijving2 {
    padding-left: 80px;
}

.hoofd3 {
    background-color: #3780ff;
}

.sub3 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
padding-bottom:20px ;}

.voorbeeld2 {
    width: 40%;
    display: flex;
    border-radius: 50%;
    padding-inline: 100px;
}

.voorbeeld3{display: flex;
padding: 50px;
}
.nummer1 {padding-left: 300px;}
.nummer2 {padding-left: 300px;}
.nummer3 {padding-left: 200px;}